<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/" style="padding: 0 2rem; margin: 0"><img class="logo" src="/images/BYUI-logo.png" alt="BYU Idaho logo"></a></li>
      <li class="<%= path === '/' ? 'active' : ''%>">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a> 
      </li>
      <li>
        <a class="<%= path === '/' ? 'active' : '' %>" href="/proveAssignments/prove04">Recipes</a>
      </li>      
      <li>
        <a class="<%= path === '/products' ? 'active' : '' %>" href="/proveAssignments/prove04/products">Search</a>
      </li>      
        <% if (isAuthenticated) { %>
          <li>
            <a class="<%= path === '/cart' ? 'active' : '' %>" href="/proveAssignments/prove04/cart">Favorite Recipes</a>
          </li>   
          <li> 
            <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/proveAssignments/prove04/admin/add-product">Add Recipe</a>
          </li>
          <li>  
                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/proveAssignments/prove04/admin/products">Edit Recipes</a>
          </li>  
            <% } %>
        
            <% if (!isAuthenticated) { %>
              <li>  
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/proveAssignments/prove04/login">Login</a>
              </li>
              <li> 
                <a class="<%= path === '/signup' ? 'active' : '' %>" href="/proveAssignments/prove04/signup">Signup</a>
              </li>  
            <% } else { %>
                <li style="margin-top: 1rem;">
                    <form action="/proveAssignments/prove04/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
      
      
    </ul>
  </div>
</nav>
