<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/prove04/product.css">
    </head>

    <body>
        <% include ../../../../includes/nav.ejs %>
        <div class="centered">
            <form action="/proveAssignments/prove04/search" method="GET">
                <label for="ingredient">Search Recipes by ingredient</label><br>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="text" name="ingredient" id="ingredient">
                <button type="submit">Search</button>
            </form>
        </div>

            <main>
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let product of prods) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h3 style="text-align: center;"><%= product.name %></h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= product.imageUrl %>"
                                        alt="<%= product.name %>">
                                </div>
                                <div class="card__content" style="margin-bottom: -2rem;">
                                    <h4 class="product__description">Total Time: <%= product.totalTime %></p>
                                </div>
                                <div class="card__actions">
                                        <a href="/proveAssignments/prove04/products/<%= product._id %>" class="btn">Details</a>
                                    <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                                </div>
                            </article>
                            <% } %>
                    </div>
                    <div class="text-center">
                        <section class="pagination">
                            <% if (currentPage !== 1 && previousPage !== 1) { %>
                                <a href="?page=1">1</a>
                            <% } %>
                            <% if (hasPreviousPage) { %>
                                <a href="?page=<%= previousPage %>"><%= previousPage %></a>
                            <% } %>
                            <a href="?page=<%= currentPage %>" class="active"><%= currentPage %></a>
                            <% if (hasNextPage) { %>
                                <a href="?page=<%= nextPage %>"><%= nextPage %></a>
                            <% } %>
                            <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
                                <a href="?page=<%= lastPage %>"><%= lastPage %></a>
                            <% } %>
                        </section>
                    </div>
                    <% } else { %>
                        <h1 class="text-center">No Recipes Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>